# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# linker files
*.map
*.d

# vim swp
*.swp
*~

# executables
buenos/buenos
tfstool
store.file
buenos/tests/loop
buenos/tests/halt
buenos/tests/cat
buenos/tests/rm
buenos/tests/touch
